<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Création d'une créature</title>
	<th:block th:replace="fragments/general :: header"></th:block>
	<th:block th:insert="fragments/general :: loadJS('/js/script.js')"></th:block>
</head>

<body>
	<p>
		<th:block th:insert="fragments/general :: navbar(null)"></th:block>
	</p>

	<div class="container">
		<h2>Création d'une créature</h2>

		<form th:action="@{${formAction}}" method='post' class="box" th:object="${createCreatureForm}">
			<div class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></div>

			<input class="input" type="hidden" th:field="*{id}">

			<div class="field">
				<label class="label">Nom</label>
				<div class="control">
					<input class="form-control" type="text" th:field="*{nom}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">
				</div>
			</div>

			<div class="field">
				<label class="label">Description</label>
				<div class="control">
					<input class="form-control" type="text" th:field="*{description}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
				</div>
			</div>
			
			<div class="field">
				<label class="label">Niveau</label>
				<select class="form-control" th:field="*{niveauId}" id="niveauSelect">
					<option th:each="niveau : ${niveaux}" th:value="${niveau.id}" th:text="${niveau.nom}">
						Niveau</option>
				</select>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('niveauId')}" th:errors="*{niveauId}" />
			</div>
			
			<div class="field" id="creatureBaseDiv">
			    <label class="label">Creature de Base</label>
			    <select class="custom-select" th:field="*{creatureBaseId}" id="creatureBaseSelect">
			        <option th:each="creature : ${creatures}" 
			                th:value="${creature.id}"
			                th:data-niveau="${creature.niveauId}"
			                th:selected="${creature.id.equals(creatureBase.id)}">
			            #[[${creature.id}]] [[${creature.nom}]] ([[${creature.pvInit}]]pv) :
			            [[${creature.description}]]
			        </option>
			    </select>
			    <div class="alert alert-danger" th:if="${#fields.hasErrors('creatureBaseId')}" th:errors="*{creatureBaseId}" />
			</div>
		
			<div class="field">
				<label class="label">Image</label>
				<div class="control">
					<input class="form-control" type="text" th:field="*{image}">
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">
				</div>
			</div>
			
			<div class="form-group">
			    <label for="pv" class="form-label">Points de vie : </label><span id="pvValue">[[*{pv}]]</span>
			    <input type="range" class="form-control-range" id="pv" th:field="*{pv}" min="30" max="300">
			    <div class="invalid-feedback" th:if="${#fields.hasErrors('pv')}" th:errors="*{pv}">
			    </div>
			</div>

			<div class="field">
				<label class="label">Categorie</label>
				<select class="form-control" th:field="*{categorieId}" id="categorieSelect">
					<option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.nom}">
						Catégorie</option>
				</select>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('categorieId')}" th:errors="*{categorieId}" />
			</div>
			<br />

			<ul class="list-group" id="attaqueList">Liste des attaques :
				<li class='list-group-item' th:each="attaque, iterStat : ${currentAttaques}">
					<input style='display: none;' type="number" th:name="attaques[__${iterStat.index}__]" th:value="${attaque.id}"/><span>[[${attaque}]]</span>
					<button type="button" class="btn btn-danger btn-sm remove-attaque">Supprimer</button>
				</li>
			</ul>
			<br />
			<!-- Section pour ajouter de nouvelles attaques -->
			<div>
				Liste des attaques disponibles :
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button class="btn btn-outline-secondary" type="button" id="ajouterAttaque">Ajouter une
						attaque</button>
				</div>
				<select class="custom-select" id="attaqueSelect">
					<option th:each="attaque : ${attaques}" th:value="${attaque.id}"
						th:data-categorie="${attaque.categorieId}">
						[[${attaque}]]</option>
				</select>
			</div>

			<div class="field is-grouped">
				<div class="control">
					<button class="btn btn-info">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<p>
		<th:block th:insert="fragments/general :: footer"></th:block>
	</p>
</body>

</html>