<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Voir une créature</title>
	<th:block th:replace="fragments/general :: header"></th:block>
</head>

<body>
	<p>
		<th:block th:insert="fragments/general :: navbar(${app.links})"></th:block>
	</p>
	<ul class="list-group">
		<div th:each="creature : ${creatures}">
			<li class="list-group-item">
				<div class="jumbotron">
					<h1 class="display-4">[[${creature.id}]] <img class="ms-4" th:src="@{${creature.imageURL}}" alt="Image of ${creature.nom}"
							style="height: 50px; width: 50px; object-fit: cover; border-radius: 50%; margin-right: 10px;">[[${creature.nom}]]
					</h1>
					<p class="lead">[[${creature.description}]]</p>
					<hr class="my-4">
					<p>
						<span class="ms-4">[[${creature.pvInit}]]pv</span>
						<span class="ms-4" th:text="${creature.niveau}">Niveau</span>
						<span class="ms-4" th:text="${creature.categorie}">Categorie</span>
						<div th:each="link : ${creature.links}">
							<div th:if="${#strings.equals(link.rel, 'self')}">
							<a class="btn btn-primary btn-lg" th:href="${link.href}" role="button">Voir la
								fiche</a>
							</div>
						</div>
					</p>
				</div>
			</li>
		</div>
	</ul>
	<p>
		<th:block th:insert="fragments/general :: footer"></th:block>
	</p>
</body>

</html>