<!-- templates/fragments/pokemon-fragment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Model Fragments</title>
</head>
<body>
	<div th:fragment="creatureFull(creature, attaques)">
	    
    <div class="container my-4">
        <div class="card shadow-sm" style="width: 18rem;">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title fw-bold fs-4 mb-0" th:text="${creature.nom}">Nom</h3>
                    <div class="text-end">
                        <h3 class="card-title fs-6 mb-0">
                            <span th:text="${creature.pv}">100</span>
                            <span>/</span>
                            <span th:text="${creature.pvInit}">100</span>
                        </h3>
                        <div class="d-flex justify-content-end header-info">
                            <p class="mb-0" style="margin-right: 3px;" th:text="${creature.niveau}">Niveau</p>
                            <span> </span>
                            <p class="mb-0" th:text="${creature.categorie}">Categorie</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="card-img-top img-fluid" th:src="@{${creature.image}}" alt="Image of ${creature.nom}">
            <div class="card-body">
                <div class="progress mb-2" style="height: 25px;" role="progressbar" aria-label="Basic example" aria-valuenow="${creature.pv}" aria-valuemin="0" aria-valuemax="${creature.pvInit}">
                    <div id="pv_progress_bar" class="progress-bar bg-info" th:style="'width: ' + ${creature.pourcentage}">
                        <span th:text="${creature.pourcentage}"></span>
                    </div>
                </div>
                <p class="card-text fw-semibold fs-5 mb-1">Description</p>
                <p class="card-text description mb-1" th:text="${creature.description}">description</p>
            </div>
            <div class="card-body pt-2">
                <h5 class="card-title fw-semibold fs-5 mb-2">Attaques</h5>
                <ul class="attack-list">
                    <li class="attack-item" th:each="attaque : ${attaques}">
                        <span class="attack-name-degat">
                            <span th:text="${attaque.nom}">Attaque</span>
                            <span th:text="'(' + ${attaque.degat} + ')'"> (dégât) </span>
                            <span>[[${attaque.energiePrimaire}]]/[[${attaque.energieSecondaire}]]</span>
                        </span>
                        <span class="attack-details" th:text="${attaque.description}">Details</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
	</div>
</body>
</html>
