<!-- templates/fragments/pokemon-fragment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Model Fragments</title>
</head>
<body>
	<div th:fragment="creature(creature)">
		<div class="card" style="width: 18rem;">
		  <img class="img-thumbnail" th:src="@{${creature.image}}"  alt="Image of ${creature.nom}">
		  <div class="card-body container text-center p-0 my-0">
			  <div class="row">
			    <div class="col">
			        <div class="progress" style="height: 30px" role="progressbar" aria-label="Basic example" aria-valuenow="${creature.pv}" aria-valuemin="0" aria-valuemax="${creature.pvInit}">
					  <div id="pv_progress_bar" class="progress-bar progress-bar-striped" th:style="'width: ' + ${creature.pourcentage} + ''">
					      <span>[[${creature.pourcentage}]]</span>
				        </div>
					</div>
			    </div>
			  </div>
			</div>
		  <div class="card-body">
		    <h3 class="card-title fw-bold fs-3" th:text="${creature.nom}">Nom</h3>
		    <p class="d-inline card-text fst-italic fs-6">[[${creature.niveau}]]</p>
		    <p class="d-inline card-text fst-italic fs-6">[[${creature.categorie}]]</p>
		    <br>
		    <p class="d-inline card-text fw-semibold fs-5">Description : </p>
		    <p class="d-inline card-text fs-6" th:text="${creature.description}">description</p>
		  </div>
		  <div class="card-body fw-semibold fs-5">Attaques
			  <ul class="list-group list-group-flush" th:each="attaque : ${creature.attaques}">
			    <li class="list-group-item fs-6" th:text="${attaque.nom}">Attaque</li>
			  </ul>
		  </div>

		</div>
		
		<div class="border rounded p-3 my-3">
            <h5 th:text="${creature.nom}">Task Name</h5>
            <p th:text="${creature.description}">Task Description</p>
        </div>
        
        <div class="card my-3">
		    <div class="row no-gutters">
				<div class="col-md-2">
	            	<img th:src="@{${creature.image}}"  alt="Image of ${creature.nom} height="200" width="200" ">
	        	</div>
		        <div class="col-md-8">
		            <div class="card-body">
		                <h5 class="card-title" th:text="${creature.nom}">creature Nom</h5>
		                <p class="card-text">
		                    <strong>Points de vie: </strong>
		                    <span th:text="${creature.pv}">100</span>
		                    <span>/</span>
		                    <span th:text="${creature.pvInit}">100</span>
		                </p>
		                <p class="card-text" th:text="${creature.description}">creature Description</p>
		                <h6>Attaques:</h6>
			              <ul class="list-group list-group-flush">
		                    <li class="list-group-item" th:each="attaque : ${creature.attaques}">
		                        <span th:text="${attaque.nom}">nom de l'attaque</span>
		                        <span>: </span>
		                        <span th:text="${attaque.description}">description de l'attaque</span>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</body>
</html>
