<div th:fragment="creature(creature)">
	<script th:inline="javascript">
        /*<![CDATA[*/
        window.creatureData = /*[[${creature}]]*/ [];
        /*]]>*/
    </script>
    <script>
		$( document ).ready(function() {
		    var creature = window.creatureData;
		    
		    function updatePvProgressBar(percentage){
				$("#pv_progress_bar").width(percentage + '%')
				$("#pv_progress_bar").text(percentage + '%')
			}
		
		    var p = Math.floor(creature.pv / creature.pvInit * 100)
		    
		    updatePvProgressBar(p);
		
		});
	</script>
</div>